<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>User Page</title>
  </head>
  <body>
    <h1>User Page</h1>
    <p>Name: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Verified Account: <%= user.verified ? "Yes" : "No" %></p>
    <form action="/logout" method="post">
      <button class="logout" type="submit">Log out</button>
    </form>
  </body>
</html>