<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Verification Email Sent</title>
  </head>
  <body>
    <h1>Verification Email Sent</h1>
    A verification email has been sent to your address. Please check you inbox or spam folder and click on the link in the email to verify your account.
  </body>
</html>